.list {
  list-style: none;
}

.studio-link:active {
  color: #2196f3;
}

.cellar__link:hover,
.cellar__link:focus {
  color: $accent-color;
}

.cellar__link:active {
  color: $text-color;
}

.current {
  color: $accent-color;
  position: relative;
}
.link__current::after {
  content: '';
  display: block;
  width: inherit;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-color;
}

.provide__item:not(:last-child) {
  margin-right: 30px;
}
.provide__item:hover .provide__item--container,
.provide__item:focus .provide__item--container {
  transform: translateY(-100%);
}
.provide__item {
  position: relative;
  overflow: hidden;
}
.provide__item--container {
  text-align: center;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.provide__label--transform {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
// .team__list {
//   display: flex;
// }
.team__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.cellar__link {
  display: flex;
  flex-direction: column;
}
.location {
  margin-top: 20px;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 1);
}
.post {
  margin-bottom: 9px;
}
