@media screen and (min-width: 150px) and (max-width: 767px) {
  .hero {
    background-color: #2f303a66;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/mobile--img/Header__mobile--img.320.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: url(../images/mobile--img/Header__mobile--img.640.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: auto;
      margin-left: auto;
    }
  }
  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 3dppx),
    screen and (min-resolution: 288dpi) {
    .hero {
      background-image: url(../images/mobile--img/Header__mobile--img.960.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .hero {
    max-width: 480px;
    max-height: 400px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 118px;
    padding-bottom: 118px;
  }
  .hero__container {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .hero--title {
    margin-bottom: 30px;
    width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  .backdrop {
    width: 100vw;
    height: 100vh;
  }
  .modal {
    max-width: 450px;
    height: 609px;
    padding: 40px;
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width: 150px) and (max-width: 480px) {
      width: 93vw;
    }
  }
  .backdrop__input {
    max-width: 370px;
    @media screen and (min-width: 150px) and (max-width: 480px) {
      width: 77vw;
    }
  }
  textarea {
    max-width: 370px;
    @media screen and (min-width: 150px) and (max-width: 480px) {
      width: 77vw;
    }
  }
}
.i-accept {
  @media screen and (min-width: 150px) and (max-width: 1429px) {
    font-size: 12px;
    line-height: 1.16;
  }
}
