@media screen and (min-width: 150px) and (max-width: 767px) {
  .about {
    padding: 60px 15px;
  }
  .about__svg--container {
    padding: 25px 192px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .about__title {
    margin-bottom: 10px;
    text-align: center;
  }
  .about__label {
    display: flex;
    width: 92vw;
  }
  .provide {
    display: none;
  }
}
