@media screen and (min-width: 150px) and (max-width: 767px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .team-content {
    background-color: #f5f4fa;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team__title {
  }
}
