@media screen and (min-width: 1430px) {
  .cellar__container {
    display: flex;
    justify-content: center;
  }
  .cellar__reference--container {
    margin-top: 0;
    margin-left: 70px;
  }
  .telegram--container {
    margin-left: 93px;
  }
}
