@media screen and (min-width: 768px) and (max-width: 1430px) {
  .portfolio__container {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
  }
  .portfolio__item--content {
    &:nth-child(even) {
      margin-right: 0px;
    }
    &:nth-child(3) {
      margin-right: 30px;
    }
    &:last-child {
      margin-top: 30px;
    }
  }
}
