@media screen and (min-width: 768px) and (max-width: 1430px) {
  .about__container {
    max-width: 768px;
  }
  .about__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .about__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .about__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
  .about__svg--container {
    padding: 25px 142px;
  }
  .provide__container {
    display: none;
  }
}
