@mixin centered($type: flex) {
  display: $type;
  align-items: center;
  justify-content: center;
}
@mixin colorTest {
  background-color: yellow;
}
// @mixin background-img {
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
// }

// @mixin mobile__title--h2 {
//   font-size: 34px;
//   line-height: 39px;
//   text-align: center;
//   letter-spacing: 0.04em;
//   text-transform: uppercase;
//   color: #d41443;
// }
